
    <!-- Core JS Files -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  
  <!-- ============================== PLUGINS ============================== -->
  <!-- Moment.js -->
  <script src="/static/assets/js/plugins/moment.min.js"></script>
  
  <!-- Sweet Alert -->
  <script src="/static/assets/js/plugins/sweetalert2.js"></script>
  
  <!-- Form Validation -->
  <script src="/static/assets/js/plugins/jquery.validate.min.js"></script>
  
  <!-- Wizard Plugin -->
  <script src="/static/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  
  <!-- Select Picker -->
  <script src="/static/assets/js/plugins/bootstrap-selectpicker.js"></script>
  
  <!-- DateTime Picker -->
  <script src="/static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  
  <!-- DataTables -->
  <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
  
  <!-- Tags Input -->
  <script src="/static/assets/js/plugins/bootstrap-tagsinput.js"></script>
  
  <!-- File Upload -->
  <script src="/static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  
  <!-- Full Calendar -->
  <script src="/static/assets/js/plugins/fullcalendar.min.js"></script>
  
  <!-- Vector Map -->
  <script src="/static/assets/js/plugins/jquery-jvectormap.js"></script>
  
  <!-- Sliders -->
  <script src="/static/assets/js/plugins/nouislider.min.js"></script>
  
  <!-- Polyfill for ES6 Promises -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  
  <!-- Dynamic Elements -->
  <script src="/static/assets/js/plugins/arrive.min.js"></script>
  
  <!-- Chartist -->
  <script src="/static/assets/js/plugins/chartist.min.js"></script>
  
  <!-- Notifications -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  
  <!-- Material Dashboard Core -->
  <script src="/static/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  
  <!-- Demo Scripts (Remove in production) -->
  <script src="/static/assets/demo/demo.js"></script>
  

  <!-- =========================== CUSTOM SCRIPTS =========================== -->
  <!-- Backorders -->
  <script src="/static/fetchData.js"></script>
  
  <!-- Clientes Nuevos -->
  <script src="/static/fetchDataClienteNuevo.js"></script>
  
  <!-- Clientes Ausentes -->
  <script src="/static/fetchDataClienteAusente.js"></script>
  
  <!-- Empleados -->  
  <script src="/static/assets/fetch-js/fetchDataEmpleados.js"></script>
  
  <!-- Pedidos y remisiones -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="/static/assets/fetch-js/fetchDataMovimientos.js"></script>

  <!-- Reporte Surtidores -->
  <script src="/static/assets/fetch-js/fetchDataReporteSurtidores.js"></script>

  <!-- Reporte Repartidores -->
  <script src="/static/assets/fetch-js/fetchDataReporteRepartidor.js"></script>

  <!-- Usuarios -->
  <script src="/static/assets/fetch-js/fetchDataUsuarios.js"></script>
  
  <!-- Entregas -->
  <script src="/static/assets/fetch-js/fetchDataEntregas.js"></script>

  <!-- Panel -->
  <script src="/static/assets/fetch-js/fetchDataPanel.js"></script>

  <!-- Repartidor -->
  <script src="/static/assets/fetch-js/fetchDataRepartidor.js"></script>


  <!-- ============================= TABLE EXPORT ============================= -->
  <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table-locale-all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
  
  <!-- Styles for Bootstrap Table -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.5/dist/bootstrap-table.min.css">